<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='Recipes App - User recipes')" />
<body>
<div th:replace="fragments :: header"></div>
<div class="container">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
        </thead>
        <tbody>
        <tr th:each="recipe : ${listRecipes}">
            <td th:text="${recipe.title}">Title</td>
            <td th:text="${recipe.description}">Description</td>
            <td th:text="${recipe.author}">Author</td>
            <td th:if="${canEdit}">
                <div class="container" >
                    <div class="row">
                        <div class="col-sm" style="text-align: center">
                            <form th:action="@{'/recipe/' + ${recipe.id} + '/edit'}" method="get">
                                <input type="submit" class="btn btn-success btn-small btn-nav" value="Edit" />
                            </form>
                        </div>
                        <div class="col-sm" style="text-align: center">
                            <form th:action="@{'/recipe/' + ${recipe.id} + '/delete'}" method="get">
                                <input type="submit" class="btn btn-danger btn-small btn-nav" value="Delete" />
                            </form>
                        </div>
                    </div>

                </div>


            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>