<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='Recipes App - recipe details')" />
<body>
<div th:replace="fragments :: header"></div>
<div class="container">
    <div th:text="${recipe.title}"></div>
    <div th:text="${recipe.description}"></div>
</div>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div th:each="comment: ${comments}">
                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2">
                                <span class="d-block font-weight-bold name" ><a th:href="@{'/user/' + ${comment.userId}}" th:text="${comment.author}"></a></span>
                                <span class="date text-black-50"th:text="${comment.created}"></span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text" th:text="${comment.content}"></p>
                        </div>
                    </div>
                </div>

                <div class="bg-light p-2">
                    <form method="post" th:action="@{'/comment/'+ ${recipe.id} +'/add'}" th:object="${comment}">
                        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <textarea class="form-control ml-1 shadow-none textarea"id="content" name="content" rows="3" th:value="*{content}" th:errorClass="is-invalid" required></textarea></div>
                        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>